#----------------------------------------------------------
# Application Main Configurations
#----------------------------------------------------------
.env
docker-compose.yml

#----------------------------------------------------------
# Directories
#----------------------------------------------------------
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/logs/*.debug
/vendor
/files

#----------------------------------------------------------
# IDE
#----------------------------------------------------------
/.vscode/
/.idea
/nbproject/*

#----------------------------------------------------------
# Environment
#----------------------------------------------------------
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log

#----------------------------------------------------------
# Tests
#----------------------------------------------------------
phpunit.xml
/coverage
.php_cs.cache
/tests/coverage/*
data/**
