#----------------------------------------------------------
# Application
#----------------------------------------------------------
APP_NAME="PHP PDO"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG=daily
APP_LOG_LEVEL=debug
APP_URL=http://10.11.0.11:8008
APP_TIMEZONE=America/Sao_Paulo
APP_LANGUAGE=en
APP_CODE=TE
APP_LOG_MAXIMUM_DAYS=7
APP_PREFIX=

#----------------------------------------------------------
# Database
#----------------------------------------------------------
DB_CONNECTION=mysql
DB_HOST=10.11.0.3
DB_PORT=3306
DB_DATABASE=''
DB_USERNAME=''
DB_PASSWORD=''

#----------------------------------------------------------
# Unit tests database configurations
#----------------------------------------------------------
TEST_DB_CONNECTION=
TEST_DB_HOST=
TEST_DB_PORT=
TEST_DB_DATABASE=name_dabtabase_test
TEST_DB_USERNAME=
TEST_DB_PASSWORD=
TEST_DB_CHARSET=utf8

#----------------------------------------------------------
# JWT configurations
#----------------------------------------------------------
JWT_SECRET=random
JWT_KEYS="/var/www/html/keys" # Full path
JWT_TTL=1440

#----------------------------------------------------------
# Driver configurations
#----------------------------------------------------------
# BROADCAST_DRIVER=log
# CACHE_DRIVER=redis
# SESSION_DRIVER=redis
# QUEUE_DRIVER=redis

#----------------------------------------------------------
# Redis configurations
#----------------------------------------------------------
APP_REDIS_HOST=10.11.0.5
# APP_REDIS_PASSWORD=null
APP_REDIS_PORT=6379
APP_REDIS_DATABASE=7
APP_REDIS_PREFIX="php_pdo:"

#----------------------------------------------------------
# AWS configurations
#----------------------------------------------------------
# AWS_KEY=
# AWS_SECRET=
# AWS_REGION=us-east-1
# AWS_BUCKET_REPORTS=

#----------------------------------------------------------
# GSC configurations
#----------------------------------------------------------
# STORAGE_SERVICE=gs
# GSC_BUCKET_REPORTS=
# GOOGLE_APPLICATION_CREDENTIALS=/var/www/html/keys/.json

#----------------------------------------------------------
# Mailer configurations
#----------------------------------------------------------
# MAIL_DRIVER=smtp
# MAIL_HOST=smtp.mailtrap.io
# MAIL_PORT=2525
# MAIL_USERNAME=
# MAIL_PASSWORD=
# MAIL_ENCRYPTION=null
# MAIL_FROM_ADDRESS="seuemail@email.com.br"
# MAIL_FROM_NAME="Template PHP"

#----------------------------------------------------------
# Pubsub configurations
#----------------------------------------------------------
# PUBSUB_CONNECTION=gcloud
# GOOGLE_CLOUD_KEY_FILE=/var/www/html/keys/*.json
# GOOGLE_CLOUD_PROJECT_ID=
# PUBSUB_EMULATOR_HOST=10.11.0.7:8085
# PUBSUB_IMPORTED_PRODUCTS_TOPIC=template_php
# UPDATE_IMPORTED_PRODUCTS_INTERVAL=300
